//Цвет текста
$color-gray: #777

//Основные цвета
$color-brown-light: #ba8554
$color-brown-dark: #A14F03

//Чёрный и белый цвета
$color-black: #000
$color-white: #FFF

//Тень для кнопки
$box-shadow: (0px 4px 4px rgba(0,0,0,.3))
